<% var bundlePrefix=isDev ? '//' + hostname + ':8001' : '/dist' %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>
        <%= title %>
    </title>
    <link href="<%= favicon %>" rel="icon" type="image/x-icon"/>
    <style>
        <%- include('../public/loading.css') %>
    </style>
    <style>
    </style>
</head>

<body>
<div id="root">
    <%- include('./components/loading.ejs') %>
</div>
<script type="text/javascript">
    <%- include('dummy.js') %>
</script>
<% if (manifest && manifest.assets && manifest.assets.js && manifest.assets.js.length > 0) { %>
    <% manifest.assets.js.forEach(function (item) { %>
        <script type="text/javascript" src="<%= bundlePrefix %>/<%= item %>" ></script>
    <% }) %>
<% } %>
</body>
</html>
